body {
  background-color: #f3eddc;
  font-family: Georgia, "Times New Roman", serif;
}

.container {
  width: 420px;
  margin: 40px auto;
  text-align: left;
}

.prince-img {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

.text {
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  white-space: pre-line;
}

.back-link {
  display: block;
  margin-top: 20px;
  text-align: center;
}
